@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>AfricanMagic Support</h3>

<address>    
    <strong>Atish Hariparsad:</strong>   <a href="mailto:Support@example.com">atishhariparsad@gmail.com</a><br />
    <strong>Yoeshen Govender:</strong> <a href="mailto:Marketing@example.com">yoeshen@gmail.com</a>
</address>

<address>
    
</address>