@{
    ViewBag.Title = "Home Page";
}
    <head>
        <style>
            body {
                padding = 0;
                margin = 0;
            }
        </style>    
    </head>
<header class="header">
    <div class="header__title-box">
        <h1 class="heading--primary">
            <span class="heading--primary heading-primary--main">AfricanMagic</span>
            <span class="heading--primary heading-primary--sub">Welcome To Comfort</span>
        </h1>
          @*<p><button type="button" class="btn btn-primary btn-large" onclick="location.href='@Url.Action("Index", "")'">Lets Start Shopping &raquo;</button></p>*@
          <a class="btn btn--white" href="/Products/Index">Lets Start Shopping &raquo;</a>
    </div>
</header>
  