@{
    ViewBag.Title = "Congratulations, You have successfully registered to AfricanMagic";
}
<h2>@ViewBag.Title.</h2>
<p class="text-info">
    <button type="button" class="btn btn-primary btn-large" onclick="location.href='@Url.Action("Index", "Home")'">Start Shopping!&raquo;</button>
</p>
</p>
