@{
    ViewBag.Title = "Successful Payment";
}
<h2>Checkout Complete</h2>
<p>Thanks for your order!</p>
<p>
    Interested in another product?
    @Html.ActionLink("Continue Shopping", "Index", "Home")
</p>



