@{
    ViewBag.Title = "Insufficient Points";
}
<h2>Checkout Unsuccessful</h2>
<p>You have insufficient points to make this purchase</p>
<p>
    @Html.ActionLink("Continue Shopping", "Index", "Home")
</p>

