
@{
    ViewBag.Title = "PointsCheckout";
}

<h2>PointsCheckout</h2>

<h3>
    @ViewBag.NewPoints
</h3>

<br />

@using (Html.BeginForm("PayDelivery", "Checkout"))
{
    @Html.AntiForgeryToken();

    <input type="submit" value="Click to pay for delivery"/>


}