
@{
    ViewBag.Title = "ViewLowStock";
}

<h2>View Low Stock</h2>

<p>
    @ViewBag.Low
</p>

@using (Html.BeginForm("GenerateLow", "PurchaseOrders"))
{
    @Html.AntiForgeryToken();
    <input type="submit" value="Click to Generate"/>

}
