@{
    ViewBag.Title = "Invalid Return";
}
<h2>Invalid Return.</h2>
<p>Your return could not be processed.</p>
<p>
    Please try again. 
    @Html.ActionLink("Return here", "Index", "ReturnItems")
</p>
