@{
    ViewBag.Title = "Email Promotion";
}
        <h1>Click the button below to email all customers.</h1>
        <p><button type="button" class="btn btn-primary btn-large" onclick="location.href='@Url.Action("EmailPromotion", "Promotions")'">Email Brochure &raquo;</button></p>


